<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 bg-white">
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1 mx-auto">About</span>
      </nav>
      <%= image_tag "pexels-luis-gomes-546819.jpg", class: 'myself-header' %>
      <div class="text-center" style="line-height: 2.2em; font-size: 14px">
        <h6 class="mt-5 mb-3">ABOUT ME</h6>
        <p><%= image_tag "myimage.jpg", class: 'myself-image' %></p>
        <em style="font-size: initial">チバリクヤ</em>
        <p class="mt-3">理系大学院生/1998年生まれ/愛知県出身<br>
        大学4年生時にプログラミングと出会いプログラミングの<br>楽しさや可能性に気付き、エンジニアを目指すことを決意 </p>
      </div>
    </div>
  </div>
</div>